<%= stylesheet_link_tag 'application' %>  
<%= stylesheet_link_tag 'welcome' %>  


<h1>Welcome to the note App!</h1>
<% if logged_in? %>
	<h1> You are Logged In, <%= current_user.email %></h1>

<%end%>

<div class='welcomeContainer'>
	<%=button_to "Already a user?", './login', method: :get%>

	<%= button_to "Sign Up?", '/users/new', method: :get%>
</div>

