
<%= render "shared/header" %>

<div id="notesContainer">
	<% if flash[:notice] %>
		<div id="error">
		<%= flash[:notice] %>
		</div>
	<% end %>

	<div id="new_note">
		<%= form_for notes_path, url: {action: "create"}, html: {id: "newform"} do |f| %>
			<input id="titleinput" type="text" name="/notes[title]" maxlength=30 placeholder="New Note Title">
			<textarea id="newbody" name="/notes[body]" maxlength=1000  placeholder="New Note Body"></textarea>
			<%= f.submit "Add Note", id: 'createbutton' %>
		<% end %>
	</div>
	<% if flash[:status] %>
		<div class="hidden" id="messager">
			<%= flash[:status] %>
		</div>
	<% end %>
	<% @notes.each do |note| %>
		<%= render 'shared/note', note: note %>
	<% end %>
</div>

