
<%= stylesheet_link_tag 'application' %>  
<%= stylesheet_link_tag 'notes' %>  
<%= render "shared/header" %>

<div id="notesContainer">
	<% @notes.each do |note| %>
		<%= render 'shared/note', note: note %>
	<% end %>

	<div id="error">
		<%= flash[:notice] %>
	</div>
	<div id="new_note">

		<%= form_for notes_path, url: {action: "create"}, html: {id: "newform"} do |f| %>
			<input id="titleinput" type="text" name="/notes[title]" maxlength=30 placeholder="New Note Title">
			<textarea id="newbody" name="/notes[body]" maxlength=1000  placeholder="New Note Body"></textarea>
			<%= f.submit "+", id: 'createbutton' %>
		<% end %>
	</div>
</div>

