<%= stylesheet_link_tag 'application' %>  
<%= stylesheet_link_tag 'users' %>  


<div id='center'> 
	<div id='container'>
		<div id='registerContainer'>

			<%= form_tag users_path, method: 'POST',:id => 'form'  do %>

					<%= label_tag :register, "Register New User", :class => 'title' %>

					<%= text_field_tag :name, nil, :placeholder => "First and Last Name", class: 'input'%>
					<%= email_field_tag :email, nil,  :placeholder =>  "Email", class: 'input' %>
					<%= password_field_tag :password, nil, :placeholder => "Password", class: 'input'%>

					<%= submit_tag "Submit", :id => 'submit' %>
			<% end %>
		</div>
	</div>
</div 



