<div id="note">
	<%= form_with url: notes_path, method: 'PATCH',  id: 'newform'  do |form| %>
		<div id='noteheader'>
			<%= form.text_field :title, id: 'header_input', maxlength: 30, value: note.title %>
			created by: <%= current_user.name %> <%= note.created_at %>	 
		</div>
		<%= form.text_area :body, id: 'body_input', maxlength: 1000, value: note.body%>
		<%= form.submit 'Save', id: 'updatebutton',  name: 'update' %>
		<%= form.hidden_field :id, :value => note.id %>
		<%= form.submit 'Delete', id: 'deletebutton', name: 'delete'%>
	<% end %>
</div>