<%= stylesheet_link_tag params[:controller] %>

<div id='center'> 
	<div id='container'>	
			<div id='registerContainer'>
				<%= form_tag '/login', :id => 'form' do %>
					<%= label_tag :register, "Welcome Back!", :class => 'title' %>
					<%= email_field_tag :email,nil,  :placeholder =>  "Email", class: 'input' %>
					<%= password_field_tag :password, nil, :placeholder => "Password", class: 'input'%>
					<%= submit_tag "Login", :id => 'login' %>
					<div id="error">
						<%= flash[:notice] %>
					</div>
				<% end %>		
			</div>
		<div id='signup'>
			<%= button_to "Need to Sign Up?", '/users/new', method: :get, id: 'submit'%>
		</div>
	</div>
</div 

